*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
body{
    background-color: #43495E;
    margin: 0 auto;
    color: #c1c1c1;
    font-family: "Playfair", serif;
    font-size: 20px;

}

.portfolio_container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    background-color: #323647;
    padding: 15px 0;
}

.author_img img {
    border-radius: 50%;
    height: 300px;
}

.right_tasks{
    background-color: #282A39;
    padding: 15px 35px;
}
.author_contact_details h4 {
    font-size: 36px;
}

.author_contact_details h5 {font-size: 30px;text-transform: uppercase;}

.author_contact_details {
    line-height: 35px;
    margin-top: 35px;
}
.author_skills_details {
    margin-top: 40px;
    text-decoration: double;
}
.author_contact_details p {
    line-height: 22px;
    margin-top: 5px;
}
.author_contact_details span{
    color:#ffffff
}

.right_tasks h1 {
    margin-bottom: 30px;
    text-align: center;
}

table, th, td{
    border:1px solid #747474;
    border-collapse: collapse;
    padding: 5px;
}
thead{
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}
tbody a {
    text-decoration: none;
    color:#747474;
}

tr:nth-child(even){
    background-color:#43495E;
}
th{
    background-color: #192142;
}