<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CSS Layout</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container fix">
            <div class="main_section fix">
                <div class="main_divided_left fix">
                    <div class="main_top fix">
                        .
                    </div>
                    <div class="main_bottom fix">
                        <div class="main_bottom_column floatleft"></div>
                        <div class="main_bottom_column tomato floatleft"></div>
                        <div class="main_bottom_column ash floatleft"></div>
                    </div>
                </div>
                <div class="main_divided_right fix"></div>
            </div>
            <div class="footer_section fix"></div>
        </div>
    </body>
</html>